/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */

body  {
  transition: 0.5s;
}

.window_light, .window_dark, .window_glass, .window_light_night, .window_dark_night, .window_glass_night  {
  transition: 0.5s;
}

/* Doodle Stage */

#stage {
  /* Fixed Sizes   */
  height: 550px;
  width: 820px;
  overflow: hidden;

  position: relative;
}

/* Positioning */

svg, img  {
  position: absolute;
  
  transition: 0.5s;
}

img {
  top: 30px;
  left: 145px;
  
  width: 539px;
}



.window-clickable {
  position: absolute;
  top: 0;
  left: 145px;
  width: 550px;
  height: 355px;
}

.lights {
  top: 74px;
  left: 145px;
}

.shadows  {
  bottom: 145px;
  left: 5px;
}

.window_back  {
  top: 30px;
  left: 145px;
}

.window_front {
  top: 30px;
  left: 410px;
  
  transition: 2s;
}

.steam  {
  top: 115px;
  left: 325px;
}

#light_pull {
  top: -40px;
  right: 100px;
  padding: 10px;
  
  transition: 0.5s;
}

.base_colors  {
  bottom: 180px;
  left: 60px;
}

.teapot {
  bottom: 145px;
  left: 335px;
}

.cat  {
  position: absolute;
  bottom: -50px;
  left: 350px;
  
	margin: 50px;
  width: 220px;
  height: 475px;
  background: url('../img/cat-spritesheet.png') left center;
  background-size: 2861px;
	
	-webkit-animation: play 1s steps(13) infinite;
	
	        animation: play 1s steps(13) infinite;
}

.cat-night  {
  position: absolute;
  bottom: -50px;
  left: 350px;
  
	margin: 50px;
  width: 220px;
  height: 475px;
  background: url('../img/cat-night-spritesheet.png') left center;
  background-size: 2861px;
	
	-webkit-animation: play 1s steps(13) infinite;
	
	        animation: play 1s steps(13) infinite;
}

@-webkit-keyframes play {
	100% { background-position: -2861px; }
}

@keyframes play {
	100% { background-position: -2861px; }
}

/* Colors */

.night  {
  opacity: 0;
  
  transition: 0.5s;
}

.visible  {
  opacity: 100;
  
  transition: 0.5s;
}

.night_background {
  background-color: #223;
  
  transition: 0.5s;
}

.lights {
  fill: white;
}

.shadows {
  fill: #000111;
}

.window_light {
  fill:#f9f1ef;
}

.window_dark  {
  fill:#f4ece9;
}

.window_glass {
  opacity: 0.2;
  fill: #fffbee;
}

.window_light_night  {
  fill: #61617c;
}

.window_dark_night  {
  fill: #47475e;
}

.window_glass_night {
  fill: #3d3d59;
}

.window_open  {
  left: 180px;
  
  transition: 2s;
}

.steam_light, .steam_dark {
  fill:none;
	stroke:#ddd;
	opacity: 0.3;
	stroke-linecap:round;
	stroke-miterlimit:10;
	stroke-width:7px;
}

.steam_dark {
  stroke-width:5px;
}

.blue {
  fill: #5287ec;
}

.blue_dark {
  fill: #3773bc;
}

.blue_n1 {
  fill: #26619b;
}

.blue_n2 {
  fill: #629cf9;
}

.blue_shad1 {
  fill: #629cf9;
}

.blue_shad2 {
  fill: #3773bc;
}

.blue_shad3 {
  fill: #26619b;
}

.red {
  fill: #d8503f;
}

.red_shad1 {
  fill: #db7286;
}

.red_shad2 {
  fill: #a02d27;
}

.red_shad3 {
  fill: #af3a31;
}

.green {
  fill: #58a55c;
}

.green_shad1 {
  fill: #70ba93;
}

.green_shad2 {
  fill: #419343;
}

.green_shad3 {
  fill: #378237;
}

.yellow {
  fill: #f2bd42;
}

.yellow_dark {
  fill: #e5ae41;
}

.yellow_n1 {
  fill: #e8cb52;
}

.yellow_n2 {
  fill: #edd354;
}

.yellow_n3 {
  fill: #d69a3a;
}

.yellow_n4 {
  fill: #cc9132;
}

.yellow_n5 {
  fill: #dda03e;
}

/* Animations */

/* Light pull */
.light_pull_anim  {
  -webkit-animation: light_pull 1s;
          animation: light_pull 1s;
}

@-webkit-keyframes light_pull {
  50% {
    top: 10px;
  }
  100%  {
    top: -20px;
  }
}

@keyframes light_pull {
  50% {
    top: 10px;
  }
  100%  {
    top: -20px;
  }
}

/* Steam anim */
.steam_light, .steam_dark {
  stroke-dasharray: 100;
  stroke-dashoffset: 1000;
  -webkit-animation: steamAnim 12s infinite linear;
          animation: steamAnim 12s infinite linear;
}

@-webkit-keyframes steamAnim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes steamAnim {
  to {
    stroke-dashoffset: 0;
  }
}
/* Teapot animation */
.bounce {
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
}

/* Lights twinkle animation */
.lights1 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: -1.75s;
          animation-delay: -1.75s;
}

.lights2 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.lights3 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: -1.25s;
          animation-delay: -1.25s;
}

.lights4 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.lights5 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
}

.lights6 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.lights7 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
}

.lights8 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.lights9 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.lights10 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lights11 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.lights12 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.lights13 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.lights14 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.lights15 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.lights16 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.lights17 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

.lights18 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.lights19 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2.75s;
          animation-delay: 2.75s;
}

.lights20 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.lights21 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.lights22 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.lights23 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.lights24 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.lights25 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.lights26 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

.lights27 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.lights28 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

.lights29 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
}

.lights30 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.lights31 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

.lights32 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

.lights33 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.lights34 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}

.lights35 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.lights36 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.lights37 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
}

.lights38 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
}

.lights39 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}

.lights40 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.lights41 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}

.lights42 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

.lights43 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}

.lights44 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 4.4s;
          animation-delay: 4.4s;
}

.lights45 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.lights46 {
  -webkit-animation: twinkle 4s alternate infinite;
          animation: twinkle 4s alternate infinite;
  -webkit-animation-delay: 4.6s;
          animation-delay: 4.6s;
}

@-webkit-keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}